* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1450px) {
  .left-section {
    font-size: 25px;
    min-width: 30%;
  }
}

body {
  background-color: rgb(18, 18, 18);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

a {
  color: #596D48;
  text-decoration: none;
}

button {
  background-color: #596D48;
  color: white;
  font-size: 18px;
  padding: 12px 60px;
  margin: 25px 0;
  border-radius: 10px;
}

input {
  margin: 0.25rem 5rem 0 0;
  height: 1.6rem;
  padding: 5px 5px 5px 8px;
  width: 15rem;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 2px 2px 5px rgba(58, 7, 197, 0.247);
  outline: none;
}

#logo {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  height: 100vh;
  max-width: 80vw;
  display: flex;
  flex-grow: 1;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.left-section {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right-section {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 5vh 8vw 5vh 3vw;
}

.intro {
  font-size: 24px;
  font-weight: 600;
  margin: 1rem 0; 
}

.help {
  color: rgb(35, 35, 35); 
  margin: 4rem 0 2rem 0;
}

.input-text {
  color: rgb(48, 48, 48);
  font-size: 13px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.create-account {
  padding: 10px 0;
}

.icon-bar {
  height: 15%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 20px;
}
